.icon{
    height: 40px;
}

.card-body{
    background-color: lightsteelblue;
}

.cardSize{
    height: 400px;
}

.project{
    background-size: cover;
    background-position: center;
    height: 400px;
    
}

.project1{
background-image: url('');
}


.project2{
background-image: url('https://github.com/MaFer74/REACT-Portfolio/blob/main/src/images/Weather-Dashboard.png?raw=true');
}


.project3{
    background-image: url('https://github.com/MaFer74/profile-generator/blob/main/starter/images/screenshot.png?raw=true');
    }

.project4{
    background-image: url('https://github.com/MaFer74/daily-planner/blob/main/assets/images/Screenshot.png?raw=true');
    }

.project5{
    background-image: url('https://github.com/MaFer74/Console-Finances/blob/main/screenshot.png?raw=true');
    }

.project6{
    background-image: url('https://github.com/MaFer74/ReadMe_generator/blob/main/starter/Assets/screenshot.png?raw=true');
    }
